{{add-todo onAdd=(action "addTodo")}}

{{#paper-list}}
  {{#paper-subheader class="md-no-sticky"}}Our Todos{{/paper-subheader}}

  {{#each todos as |todo|}}
    {{#paper-item param=todo action="completeTodo"}}
      <img style="margin-right: 1em;" src={{todo.user.imageUrl}} height="16"/>
      {{paper-checkbox checked=todo.done}}
      <p>{{todo.text}}</p>
    {{/paper-item}}
  {{/each}}
{{/paper-list}}
